.img{
    /* margin:10px auto; */
    /* border-radius:5px; */
    /* border: 1px solid #999; */
    /* padding:1px; */
    width:220px;
    height:220px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../img/imagen.jpg);
    background-size: cover;
    }
  .img img{
    width: 100%;
  }
  @media all and (min-width: 500px) and (max-width: 1000px)
  {  
  .img{
    margin:20px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:300px;
    height:300px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../img/imagen.jpg);
    background-size: cover;
    
    }
  }
  .img img{
     width:100%;
  }


body {

    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;

    /* background-color: green; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#general{

    width: 60em;
    height: 30em;

    background-color: red;
    

}

#psp{

    background-color: black;
    width: 55em;
    height: 28em;

    margin-top: 1em;
    margin-left: 2em;

    border-radius: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fuente{

    /* font-family: princ; */
}

#pantalla{

    background-color: gray;

    width: 30em;
    height: 20em;

    margin-bottom: 2em;

    border-radius: 5%;
   
   
    
}



#flechas{

    background-color: aqua;

    border-radius: 50%;

    width: 9em;
    height: 9em;

    margin-left: -10em;
    margin-right: 2em;
    margin-bottom: 2em;
}

#flecha1{

    background-color: black;

    width: 3em;
    height: 3em;

    border-radius: 0% 90% 90% 0%;
    margin-top: 3em;

}

#flecha2{


    background-color: blue;

    width: 3em;
    height: 3em;

    margin-left: 3em;
    border-radius: 90% 90% 0% 0%;
}

#flecha3{

    background-color: pink;

    width: 3em;
    height: 3em;

    border-radius: 30% 30% 90% 90%;

    margin-left: 3em;
    margin-top: -9em;
}

#flecha4{

    background-color: orangered;

    width: 3em;
    height: 3em;

    border-radius: 90% 30% 30% 90%;

    margin-left: 6em;


}

#joystick{

    background-color: greenyellow;

    width: 5em;
    height: 5em;

    margin-top: 5em;
    margin-left: 3em;
    border-radius: 50%;

}

#power{

    /* background-color: red; */

    width: 8em;
    height: 5em;

    margin-left: 47.5em;
    margin-top: -8em;

    display: flex;
    flex-direction: column;
    
}

#encendido{

    background-color: green;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;

    margin-top: 1em;
    margin-left: 7em;

}

#hold{

    background-color: yellow;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;

    margin-top: 1.5em;
    margin-left: 5em;
}

#textoPower{

    background-color: aqua;

    width: 5em;
    height: 3em;

    margin-left: 49em;
    margin-top: -5.3em;
    
}

#logo{
    /* background-color: gray; */

    width: 3em;
    height: 3em;

    margin-left: 6em;

    margin-top: -19em;
}

#sony{

    /* background-color: gray; */

    width: 6em;
    height: 3em;

    margin-left: 46em;
    margin-top: -3em;
}


#controles{

    /* background-color: violet; */

    width: 30em;
    height: 4.5em;

    margin-top: -4.9em;
    margin-left: 14.5em;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center; 

    
    
    
}

#home{

    background-color: aqua;
    width: 3.5em;
    height: 2em;

    border-radius: 0% 0% 40% 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menos{

    
    margin-left: 1em;
    background-color: yellow;
    width: 3em;
    height: 2em;
    border-radius: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pspLetra{

    /* background-color: aqua; */
    width: 9em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mas{

    background-color: blue;

    margin-left: 1em;
    margin-right: 1em;
    width: 3em;
    height: 2em;
    border-radius: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#select{

    background-color: blue;

    margin-left: 2em;
    width: 3.5em;
    height: 2em;

    border-radius: 0% 0% 40% 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#start{

    background-color: blue;

    margin-left: 2em;
    width: 3.5em;
    height: 2em;
    border-radius: 0% 0% 40% 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#botones{

    background-color: aqua;

    width: 9em;
    height: 9em;

    margin-right: -10em;
    margin-left: 2em;
    margin-bottom: 2em;

    /*display: flex;
    position: relative;*/


}

#boton1{

    background-color: black;

    width: 3em;
    height: 3em;

    border-radius: 50%;
    margin-top: 3em;




}

#boton2{

    background-color: blue;

    width: 3em;
    height: 3em;

    margin-left: 3em;
    border-radius: 50%;


    
}

#boton3{

    background-color: pink;

    width: 3em;
    height: 3em;

    border-radius: 50%;

    margin-left: 3em;
    margin-top: -9em;



}

#boton4{

    background-color: orangered;

    width: 3em;
    height: 3em;

    border-radius: 50%;

    margin-left: 6em;




}